@mixin clear() {
  content: '';
  display: table;
  clear: both;
}

@mixin hide {
  display: none;
}

@mixin show {
  display: inline;
}

$color-teal: #56b6c2;
$color-purple: #c678dd;
$color-blue: #61afef;
$color-orange: #d19a66;
$color-green: #98c379;
$color-background: #282c34;
$color-background-hover: rgba(153, 187, 255, 0.04);
$color-background-hover-opaque: rgba(153, 187, 255, 0.08);
$color-white: #abb2bf;
$color-red: #e06c75;
$color-muted: #596273;

body {
	margin-bottom: 23px;
	white-space: normal !important;
  background: $color-background;
  font-size: 1em;
}

.json {
  padding: 1em;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px 0px 0px 16px;
}

li {
	position: relative;
  color: $color-white;
}

.hoverable {
	transition: background-color .2s ease-out 0s;
	-webkit-transition: background-color .2s ease-out 0s;
	display: inline-block;
}

.hovered {
	transition-delay: .2s;
	-webkit-transition-delay: .2s;
}

.selected {
	outline-style: solid;
	outline-width: 1px;
	outline-style: dotted;
}

.type {
  @include hide;
  color: $color-teal;
}

.colon {
  margin-right: 4px;
}


.json-item {

  // border: 1px solid transparent;

  &.over > .hoverable > .bracket {
    // background: $color-background-hover;
    // border: 1px solid $color-background-hover-opaque;

    color: $color-blue;
    font-weight: bolder;
    cursor: pointer;
  }
  &.collapsed {
    .collapsible {
      @include hide;
    }
    .ellipsis {
      @include show;
    }
    .type {
      @include show;
    }
  }
}

.ellipsis {
  @include hide;
  color: $color-muted;
  &:hover {
    color: $color-white;
    font-weight: bold;
  }
}

.collapsed>.ellipsis {
	display: inherit;
}

.collapser {
	position: absolute;
	top: 1px;
	left: -1.5em;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
  &:hover {
    color: $color-blue;
    font-weight: bolder;
    cursor: pointer;
  }
}

body {
  white-space: pre;
  font-family: monospace;
}

.property {
  font-weight: bold;
}

.type-null {
  color: gray;
}

.type-boolean {
  color: $color-red;
}

.type-number {
  color: $color-purple;
}

.type-null {
  color: $color-orange;
}

.type-string {
  color: $color-green;
}

.callback-function {
  color: gray;
}

.collapser {
  color: $color-muted;
}
.collapser:after {
  content: "-";
}

.collapsed .collapser:after {
  content: "+";
}

.ellipsis:after {
  content: " … ";
  cursor: pointer;
}

.ellipsis-array::after {
  content: attr(data-length)
}


.collapsible {
  margin-left: 1em;
}

.hoverable {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px;
}

.hovered {
  background-color: rgba(235, 238, 249, 1);
}

.collapser {
  padding-right: 6px;
  padding-left: 6px;
}

.filter {

}
.filter__header {

}
.form__field {

}
.form__input {
  width: 100%;
  background: $color-background-hover;
  color: $color-white;
  border-size: 1px;
  border-style: solid;
  border-color: lighten($color-background-hover, 10%);
  outline: none;
  padding: .5em;
  font-size: 1.5em;
}
.form__label {
  color: darken($color-white, 30%);
  font-weight: bold;
}
